html, body {
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: 800;
}

p {
  font-weight: 300;
  font-size: 18px;
}

.text-center {
  text-align: center;
}

#header {
  background: url(../images/db_background.png);
  background-size: cover;
  text-align: center;
  padding: 6rem 0;
}

#header h1 {
  color: #fff;
}

#header img {
  width: 200px;
}

#coming-soon {
  background: #ddd;
  text-align: center;
  padding: 4rem 0;
  color: #333;
}

#coming-soon h2 {
  color: rgba(0,0,0,0.5);
}

#what-is h2 {
  color: rgba(0,0,0,0.5);
}

#what-is {
  background: #E74C3C;
  text-align: center;
  padding: 4rem 0;
  color: #fff;
}

#bio {
  background: #20282b;
}

#bio h2 {
  color: #fff;
  margin-top: 4rem;
  margin-bottom: 0;
}

#bio h4 {
  color: #E74C3C;
  letter-spacing: 3px;
  font-weight: 500;
  font-size: 2rem;
  margin-top: 0;
  margin-left: 0.2rem;
}

#bio p {
  color: #999;
}

.season {
  padding: 4rem 0;
}

.season h2 {
  color: #555;
}

.season h5 {
  color: #999;
  margin-bottom: 10px;
  font-weight: normal;
  border-bottom: solid 1px #999;
  display: inline-block;
}

.season h3 {
  color: #E74C3C;
}

.season.championship h2, .season.championship h3 {
  color: #f1c40f;
}

#champs {
  text-align: center;
  padding: 4rem 0;
}

@media (min-width: 400px) {
  #header img {
    width: 300px;
  }
}


.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
